body {
    padding-top: 50px;
    background-color: lightgray;
}

.container {
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    padding: 20px 15px;
    width: 100%;
    background-color: white;
}

.container h1 {
    text-align: center;
    padding-bottom: 20px;
}

.container p {
    text-align: center;
}

.container label {
    padding-right: 0px;
}